<div class="container">
  <div class="row">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a
          class="nav-link"
          aria-current="page"
          [routerLink]="['/items/list']"
          routerLinkActive="active">
          List
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/items/create']"
          routerLinkActive="active">
          Form
        </a>
      </li>
    </ul>
  </div>
  <div class="row" style="padding: 1rem">
    <router-outlet></router-outlet>
  </div>
</div>
